// .navbar {
//   margin: 15px 95px 0px 95px;
// }

.logo-name {
  margin-left: 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;

  @media screen and (max-width: 530px) {
    font-size: 18px;
    margin-left: 10px;
  }
  @media screen and (max-width: 400px) {
    font-size: 16px;
    margin-left: 10px;
  }
}
.input {
  width: 420px;
  height: 36px;
  padding: 6px 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 6px;
  color: #d1d5db;
  margin-top: 25px;

  @media screen and (max-width: 768px) {
    width: 230px;
  }

  @media screen and (max-width: 530px) {
    width: 100px;
    padding: 0 15px;
  }
}

.search-icon {
  position: relative;
  bottom: 25px;
  left: 385px;

  @media screen and (max-width: 768px) {
    left: 200px;
  }

  @media screen and (max-width: 530px) {
    left: 70px;
  }
}

.sign-in {
  margin-right: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.search-result-container {
  position: absolute;
  // top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 500px;
  overflow-y: auto;
}

.search-result-container::-webkit-scrollbar {
  width: 10px;
}

.search-result-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.search-result-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.search-result {
  margin: 10px; /* Adjust the margin as needed */
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  width: 330px;
}

.search-result-content {
  display: flex;
  align-items: center;
  width: 70%;
}

.search-result-image {
  max-width: 30%;
  max-height: 200px;
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

.search-result-details {
  flex: 1;
  // padding: 10px;
}

.search-result-details h2 {
  color: #000;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.search-result-details p {
  // margin: 0;
  font-size: 14px;
  color: #666;
}
