// .navbar {
//   margin: 15px 95px 0px 95px;
// }

.logo-name {
  margin-left: 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;

  @media screen and (max-width: 530px) {
    font-size: 18px;
    margin-left: 10px;
  }
  @media screen and (max-width: 400px) {
    font-size: 16px;
    margin-left: 10px;
  }
}
.input {
  width: 420px;
  height: 36px;
  padding: 6px 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 6px;
  color: #d1d5db;
  margin-top: 25px;

  @media screen and (max-width: 768px) {
    width: 230px;
  }

  @media screen and (max-width: 530px) {
    width: 100px;
    padding: 0 15px;
  }
}

.search-icon {
  position: relative;
  bottom: 25px;
  left: 385px;

  @media screen and (max-width: 768px) {
    left: 200px;
  }

  @media screen and (max-width: 530px) {
    left: 70px;
  }
}

.sign-in {
  margin-right: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
